.value-des {
  li {
    margin-top: 8px;
  }

  span {
    display: inline-block;
    font-weight: 700;
    color: black;
    margin-left: -4px;
    margin-right: 8px;
    padding: 0 4px;
  }
}

.value-title {
  margin-bottom: 4px;
}