.community-introduce {
  display: inline-block;
  font-weight: 700;
  color: black;
  margin-left: -4px;
  margin-right: 8px;
  padding: 0 4px;

  li {
    margin-top: 8px;
    list-style: disc;
  }
}

.story-content {
  p {
    margin-bottom: 12px;
  }
}