.mind-container {
  width: 100%;
  min-height: 100vh;
  padding: 0 32px 0 32px;
  background-color: rgb(245,245,245);
  overflow: hidden;
}

.mind-content {
  max-width: 112rem;
  margin-left: auto;
  margin-right: auto;
}
